In [1]:
print("Hello
python")
#this gives an error
#to oercome this error we can use slash

SyntaxError: EOL while scanning string literal (<ipython-input-1-47a3e834207a>, line 1)

In [2]:
print("Hello \
python")

Hello python

In [3]:
print(""" Hello every one """)

 Hello every one

In [1]:
print("""█▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
█─█♥Sweetness can be defined without honey,
█─█-----------------------------------------------•*”˜˜”*•
█─█♥fragnance can be defined without rose,
█─█-----------------------------------------------•*”˜˜”*•
█─█♥beauty can be defined without smile
█─█-----------------------------------------------•*”˜˜”*•
█─█♥but my life cannot be defined without you.
█─█-----------------------------------------------•*”˜˜”*•
█─█♥Feeling ur absence from the core of my heart!
█▀█--------------------------------------------------------------█
▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀""")
#triple quotes are used to print everything present in it i.e., triple quotes prints everything present in it completely.

█▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
█─█♥Sweetness can be defined without honey,
█─█-----------------------------------------------•*”˜˜”*•
█─█♥fragnance can be defined without rose,
█─█-----------------------------------------------•*”˜˜”*•
█─█♥beauty can be defined without smile
█─█-----------------------------------------------•*”˜˜”*•
█─█♥but my life cannot be defined without you.
█─█-----------------------------------------------•*”˜˜”*•
█─█♥Feeling ur absence from the core of my heart!
█▀█--------------------------------------------------------------█
▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀

In [2]:
print('python's world')
# this gives an error because the quote is ended 2 times according to the comipler

SyntaxError: invalid syntax (<ipython-input-2-bd3a5e779a6d>, line 1)

In [3]:
print("python's world")
#to reduce that error we use double quotes

python's world

In [4]:
#ESCAPE SEQUENCE OF STRINGS
print("hello\tpython")
#for tab space we use /t

hello	python

In [5]:
print("hello\npython")
#for new line we use /n

hello
python

In [6]:
print("hello\apython")
#to set a sound we use /a

hellopython

In [7]:
print('python\'s class')
# \ takes the single quote  for single time'

python's class

In [8]:
#FORMATTED OUTPT
name = "MEGHANA"
marks = 94
age = 20
print("the name is ",name,"age is ",age,"marks are ",marks)
#we separete all the given inputs using comma

the name is  MEGHANA age is  20 marks are  94

In [9]:
print("the name is %s marks are %f age is %d"%(name,age,marks))
"""
%s is for strings
%f is floating point numbers
%d is for integers
"""

the name is MEGHANA marks are 20.000000 age is 94

'\n%s is for strings\n%f is floating point numbers\n%d is for integers\n'

In [10]:
print("the name is %s marks are %f age is %d"%(name,age,marks))

the name is MEGHANA marks are 20.000000 age is 94

In [11]:
print("the name is %10s age is %10d marks are %10.2f"%(name,age,marks))
#to get spaces

the name is    MEGHANA age is         20 marks are      94.00

In [12]:
print(f"the name person is {name} marks {marks} age is {age}")
#f string:we can use f string instead of %s %f %d

the name person is MEGHANA marks 94 age is 20

In [13]:
if = 30 #it gives error because a variable should not have keywords
30 = 5 #it gives error because a value shouldn't be a variable

SyntaxError: invalid syntax (<ipython-input-13-94a36a3da46e>, line 1)

In [14]:
if1 = 30
_10 = 15

x = y = z = 100

In [15]:
id(x)
#it gives address of a variable

10917664

In [16]:
id(y)
# here,both the variables x and y have the same address because the values are same but the varables are different.So,we can access the value by either x or y.They both gives the same output

10917664

In [17]:
#DELETING THE VALUES
del x
print(x)
#it gives error because the variable x is deleted just now

NameError: name 'x' is not defined

In [18]:
#ARITHEMATIC OPERATIONS
a = 5
b = 10
sum = a + b
sub = a - b
mul = a * b
div = a / b
mod = a % b
floor_div = a // b
power = a ** b
print(sum)
print(sub)
print(mul)
print(div)
print(mod)
print(floor_div)
print(power)

15
-5
50
0.5
5
0
9765625

In [19]:
#COMPARISION OPERATOR
#taking same values for both a and b
a = 5
b = 5
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

True
False
False
False
True
True

In [20]:
#COMPARISION OPERATOR
#taking different values for both a and b
a = 5
b = 10
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [21]:
#ASSIGNMENT OPERATOR
a = 5
b = a
#assigning the value of a to b
print(a, b)
#initial values
a += b
#a+=b is same as a+b=b
print(a,b)
#after doing addition
a -= b
print(a,b)
#after doing subtraction
a *= b
print(a,b)
#after doing multiplication
a /= b
print(a,b)
#after doing division
a **= b
print(a,b)
#after doing power

5 5
10 5
5 5
25 5
5.0 5
3125.0 5

In [22]:
#BITWISE OPERATOR
a = 2
b = 1
print(a | b)
print(a & b)

3
0

In [23]:
#LOGICAL OPERATOR
a = 5
b = 10
print(a > b or a < b)
print(a == b or a > b)
print(a < b and a != b)

True
False
True

In [24]:
#MEMBERSHIP OPERATOR
str = "anyname"
print("a" in str)
print("a" not in str)
#IDENTITY OPERATOR
a = 5
b = 5

a is b

True
False

True